<div>Can execute procedure resolve: {{canExecuteWebspi$ | async}}</div>
<table>
  <thead>
    <th *ngFor="let column of resultSet?.columnList">{{column}}</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of resultSet?.rows">
      <td *ngFor="let column of resultSet?.columnList">
        {{ row[column] }}
      </td>
    </tr>
  </tbody>
</table>